<div class="container">
    <div class="row">
        <div class="cls-md-12 text-xs-center w-100 pt-3">
            <h5 class="logoText"> Green Koncepts </h5>
        </div>
        
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center h-100 ">
   
    <div class="gk-login-cont xy-5 relative">

        <app-loader *ngIf="prloaderRun"></app-loader>

        <h5>User Login</h5>

        <form  novalidate  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4">
            <div class="form-froup">
                <label for="username"> Username </label>
                <input type="text" class="input-control"  id="username" name="username" formControlName="username" required/>
            </div>
            <div class="form-froup mt-4">
                <label for="password"> Password </label>
                <input type="text"  class="input-control"  id="password" name="password" formControlName="password" required/>
            </div>
            <div class="form-froup mt-4 text-center">
               <button class="btn-sm w-100 btn btnBG" [disabled]="!loginForm.valid" type="submit"> Submit </button>
            </div>
        </form>
        
    </div>
    
</div>